*.DS_Store*
*.ipynb_checkpoints*
*gurobi.log
ComplementaryScripts/DraftModels/Results/gap_filled_reactions_v1_without_missing_genes.txt
ComplementaryScripts/DraftModels/Results/halo_iML1515_template_with_missing_genes.json
ComplementaryScripts/DraftModels/Results/halo_iML1515_template_without_missing_genes.json
ComplementaryScripts/EnzymeConstrainedModelRecon/Scripts/__pycache__/*
ecpy/__pycache__/*
ComplementaryScripts/EnzymeConstrainedModelRecon/Scripts/__pycache__/*
ComplementaryScripts/EnzymeConstrainedModelRecon/Scripts/__pycache__/*
ComplementaryData/chem_xref.tsv
ComplementaryData/reac_xref.tsv
